* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* extra strong reset (Chrome modern fix) */
input[type=number] {
  -webkit-appearance: none;
  appearance: none;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #555;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #32749a;
  font-size: 40px;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;

  border: thin solid #e4e4e4;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;

  margin-top: 30px;
  margin-bottom: 10px;

  color: #32749a;
  font-size: 16px;
}

form input,
form textarea,
form select {
  display: block;

  width: 100%;
  padding: 10px;

  font-size: 18px;

  border: thin solid #e4e4e4;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;

  border-color: #32749a;
}

form textarea {
  min-height: 80px;
}

form input::placeholder {
  font-size: 16px;
}

form button {
  width: 100%;
  margin-top: 40px;
  padding: 15px;

  border: none;

  background-color: #32749a;
  color: white;

  font-size: 20px;

  cursor: pointer;

  transition: 0.2s ease;
}

form button:hover {
  background-color: green;
}

form button:active {
  background-color: darkgreen;
}

form button:focus {
  outline: none;
}